<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Habit</th>
      <th>Start<br />Date</th>
      <th>Target<br />Date</th>
      <th>Progress</th>
      <th></th>
    </tr>
  </thead>
  
</table>

<%- include('../partials/footer') %>
